/* BOILERPLATE CSS */
@layer reset {
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Prevent font size inflation */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		font-variant-ligatures: none;
	}

	body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		color: var(--text-1);
		font-family: var(--fontfamily-base);
		font-weight: var(--text-weight-regular);
		line-height: var(--text-lineheight-default);
	}

	input,
	textarea,
	select {
		padding: 0;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
		line-height: inherit;
	}

	button {
		padding: 0;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
		line-height: inherit;
		text-align: left;
	}

	a {
		cursor: pointer;
	}

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-block: 0;
	}

	code,
	pre {
		font-family: var(--fontfamily-mono);
	}

	ul,
	pre,
	p {
		margin-block: 0;
	}

	ul,
	ol {
		padding-left: 0;
		list-style: none;
	}
}
